# Module 6 Exercises - Correlation and Models

### Exercise 1:

From the datasets folder, load the "tamiami.csv" file as a dataframe. Rename the columns (in order) to the following:

- location
- sales
- employees
- restaurants
- foodcarts
- price

Then do a correlation table on that dataframe. What features (columns) are correlated? What features aren't correlated?

In [3]:
import pandas as pd

df = pd.read_csv("datasets/tamiami.csv")
df.head()

,Cart Location,Hot Dog Sales,Employees in Nearby Office Buildings,Num of Nearby Restaurants,Num of Other Food Carts Nearby,Price
0,1,100,1600,8,12,4.16
1,2,80,1200,6,13,4.63
2,3,450,2800,19,6,0.50
3,4,580,4300,19,2,0.47
4,5,100,1400,6,13,4.24

In [5]:
df.columns = ['location', 'sales', 'employees', 'restaurants', 'foodcarts','price']
df.head()

   location  sales  employees  restaurants  foodcarts  price
0         1    100       1600            8         12   4.16
1         2     80       1200            6         13   4.63
2         3    450       2800           19          6   0.50
3         4    580       4300           19          2   0.47
4         5    100       1400            6         13   4.24

In [6]:
df.corr() #correlation for df dataframe
#employees and sales are highly correlated positively. sales and foodcarts, price are negatively correlated

             location     sales  employees  restaurants  foodcarts     price
location     1.000000  0.042705  -0.068923     0.049701   0.077219 -0.138444
sales        0.042705  1.000000   0.943238     0.913674  -0.919762 -0.966378
employees   -0.068923  0.943238   1.000000     0.856976  -0.874692 -0.881540
restaurants  0.049701  0.913674   0.856976     1.000000  -0.761793 -0.933951
foodcarts    0.077219 -0.919762  -0.874692    -0.761793   1.000000  0.860154
price       -0.138444 -0.966378  -0.881540    -0.933951   0.860154  1.000000

### Exercise 2:

Using the dataframe from the previous exercise, choose features (columns) to create a linear regression formula to predict sales. Try it with and without the y-intercept. How does it make a difference? Does adding or removing features in your model formula make a difference in the output?

In [9]:
import statsmodels.formula.api as smf
business = smf.ols('sales ~ employees + location + price', data=df).fit()
business.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.972
Model:                            OLS   Adj. R-squared:                  0.968
Method:                 Least Squares   F-statistic:                     295.6
Date:                Thu, 30 May 2019   Prob (F-statistic):           3.35e-20
Time:                        14:10:46   Log-Likelihood:                -143.82
No. Observations:                  30   AIC:                             295.6
Df Residuals:                      26   BIC:                             301.2
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    268.1488     57.310      4.679      0.000     150.346     385.951
employees      0.0805      0.016      5.160      0.000       0.048       0.113
location      -0.3140      0.732     -0.429      0.672      -1.820       1.191
price        -67.3533      8.416     -8.003      0.000     -84.653     -50.054
==============================================================================
Omnibus:                        0.015   Durbin-Watson:                   2.482
Prob(Omnibus):                  0.993   Jarque-Bera (JB):                0.192
Skew:                           0.031   Prob(JB):                        0.909
Kurtosis:                       2.613   Cond. No.                     2.22e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.22e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""